---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/baseball/mlb/teams/18/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-52.mashery.com
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-01T15:33:24Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :378,"headlines" :[{"headline" :"Nelson Cruz hits MLB-best
        20th HR as O''s halt Astros'' win streak","keywords" :[],"lastModified" :"2014-06-01T01:33:02Z","premium"
        :false,"gameId" :"340531118","mobileStory" :"","links" :{"api" :{"news" :{"href"
        :"http://api.espn.com/v1/sports/news/11013919"},"events" :{"href" :"http://api.espn.com/v1/sports/baseball/mlb/events/340531118"}},"web"
        :{"href" :"http://scores.espn.go.com/mlb/recap?gameId=340531118&ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://scores.espn.go.com/mlb/gamecast?gameId=340531118&version=mobile&ex_cid=espnapi_public"}},"shortLinkText"
        :"Cruz hits ML-best 20th HR as O''s stop Astros ","type" :"Recap","related"
        :[],"id" :11013919,"story" :"","linkText" :"Cruz homers again as O''s halt
        Astros'' streak","source" :"Associated Press","description" :"Nelson Cruz
        hit his major league-leading 20th home run and drove in three runs to back
        a solid start by Chris Tillman, and the Baltimore Orioles snapped a four-game
        skid with a 4-1 win over the Houston Astros on Saturday.","images" :[{"height"
        :324,"alt" :"","width" :576,"name" :"Orioles Power Past Astros","caption"
        :"Nelson Cruz drove in three runs to lead the Orioles past the Astros 4-1.","type"
        :"video","url" :"http://a.espncdn.com/media/motion/2014/0531/dm_140531_mlb_orioles_astros/dm_140531_mlb_orioles_astros.jpg"}],"categories"
        :[{"description" :"Houston Astros","type" :"team","sportId" :10,"teamId" :18,"team"
        :{"id" :18,"description" :"Houston Astros","links" :{"api" :{"teams" :{"href"
        :"http://api.espn.com/v1/sports/baseball/mlb/teams/18"}},"web" :{"teams" :{"href"
        :"http://espn.go.com/mlb/team/_/name/hou/houston-astros?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/mlb/clubhouse?teamId=18&ex_cid=espnapi_public"}}}},"uid"
        :"s:1~l:10~t:18"},{"description" :"Baltimore Orioles","type" :"team","sportId"
        :10,"teamId" :1,"team" :{"id" :1,"description" :"Baltimore Orioles","links"
        :{"api" :{"teams" :{"href" :"http://api.espn.com/v1/sports/baseball/mlb/teams/1"}},"web"
        :{"teams" :{"href" :"http://espn.go.com/mlb/team/_/name/bal/baltimore-orioles?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/mlb/clubhouse?teamId=1&ex_cid=espnapi_public"}}}},"uid"
        :"s:1~l:10~t:1"},{"description" :"MLB","type" :"league","sportId" :10,"leagueId"
        :10,"league" :{"id" :10,"description" :"MLB","links" :{"api" :{"leagues" :{"href"
        :"http://api.espn.com/v1/sports/baseball/mlb"}},"web" :{"leagues" :{"href"
        :"http://espn.go.com/mlb/?ex_cid=espnapi_public"}},"mobile" :{"leagues" :{"href"
        :"http://m.espn.go.com/mlb/?ex_cid=espnapi_public"}}}},"uid" :"s:1~l:10"}],"published"
        :"2014-05-31T23:15:37Z","video" :[{"id" :11013900,"title" :"Orioles Power
        Past Astros","thumbnail" :"http://a.espncdn.com/media/motion/2014/0531/dm_140531_mlb_orioles_astros/dm_140531_mlb_orioles_astros.jpg","tracking"
        :{"sportName" :"mlb","leagueName" :"No League","coverageType" :"Highlight","trackingName"
        :"COM_MLB Highlight (Orioles-Astros) 2014/05/31 ESHEET"},"description" :"Nelson
        Cruz drove in three runs to lead the Orioles past the Astros 4-1.","links"
        :{"web" :{"href" :"http://espn.go.com/video/clip?id=11013900&ex_cid=espnapi_public"}}},{"id"
        :11013900,"title" :"Orioles Power Past Astros","thumbnail" :"http://a.espncdn.com/media/motion/2014/0531/dm_140531_mlb_orioles_astros/dm_140531_mlb_orioles_astros.jpg","tracking"
        :{"sportName" :"mlb","leagueName" :"No Lea[...]
[...]
