---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/basketball/nba/teams/12/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-01.mashery.com
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-01T17:39:59Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :451,"headlines" :[{"headline" :"Clips sale pending board
        approval","keywords" :["donald sterling","nba","adam silver","steve ballmer","clips","shelly
        sterling"],"lastModified" :"2014-05-31T06:33:42Z","premium" :false,"mobileStory"
        :"","links" :{"api" :{"news" :{"href" :"http://api.espn.com/v1/sports/news/11008952"}},"web"
        :{"href" :"http://espn.go.com/los-angeles/nba/story/_/id/11008952/nba-approves-steve-ballmer-bid-buy-los-angeles-clippers?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nba/story?storyId=11008952&ex_cid=espnapi_public"}},"shortLinkText"
        :"NBA approves Ballmer''s bid to buy Clippers ","type" :"HeadlineNews","related"
        :[],"id" :11008952,"story" :"","title" :"NBA approves Steve Ballmer''s bid
        to buy Los Angeles Clippers","linkText" :"NBA approves Ballmer''s bid to buy
        Clippers","source" :"ESPN.com news services","description" :"The NBA has approved
        former Microsoft CEO Steve Ballmer''s bid to buy the Los Angeles Clippers,
        according to a statement issued Friday evening by the league. ","images" :[{"height"
        :324,"alt" :"","width" :576,"name" :"NBA Approves Clippers Sale, Pending Approval","caption"
        :"Darren Rovell discusses the NBA approving Steve Ballmer''s $2 billion bid
        to buy the Los Angeles Clippers, pending approval from the league''s owners.","type"
        :"video","url" :"http://a.espncdn.com/media/motion/2014/0530/dm_140530_nba_rovell_clippers_wil_besold/dm_140530_nba_rovell_clippers_wil_besold.jpg"},{"height"
        :324,"alt" :"Steve Ballmer","width" :576,"name" :"Ballmer_Steve 140529 [576x324]","type"
        :"inline","credit" :"Noel Vasquez/Getty Images","url" :"http://a.espncdn.com/photo/2014/0529/nba_g_bellm11_cr_576x324.jpg"}],"categories"
        :[{"description" :"NBA","type" :"league","sportId" :46,"leagueId" :46,"league"
        :{"id" :46,"description" :"NBA","links" :{"api" :{"leagues" :{"href" :"http://api.espn.com/v1/sports/basketball/nba"}},"web"
        :{"leagues" :{"href" :"http://espn.go.com/nba/?ex_cid=espnapi_public"}},"mobile"
        :{"leagues" :{"href" :"http://m.espn.go.com/nba/?ex_cid=espnapi_public"}}}},"uid"
        :"s:40~l:46"},{"description" :"Los Angeles Clippers","type" :"team","sportId"
        :46,"teamId" :12,"team" :{"id" :12,"description" :"Los Angeles Clippers","links"
        :{"api" :{"teams" :{"href" :"http://api.espn.com/v1/sports/basketball/nba/teams/12"}},"web"
        :{"teams" :{"href" :"http://espn.go.com/nba/team/_/name/lac/los-angeles-clippers?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/nba/clubhouse?teamId=12&ex_cid=espnapi_public"}}}},"uid"
        :"s:40~l:46~t:12"}],"published" :"2014-05-30T22:56:58Z","video" :[{"id" :11009138,"title"
        :"NBA Approves Clippers Sale, Pending Approval","thumbnail" :"http://a.espncdn.com/media/motion/2014/0530/dm_140530_nba_rovell_clippers_wil_besold/dm_140530_nba_rovell_clippers_wil_besold.jpg","tracking"
        :{"sportName" :"nba","leagueName" :"No League","coverageType" :"News","trackingName"
        :"!!UNPUB 6/2!!COM_NBA News (NBA Approves Clippers Sale, Pending Approval)
        2014/05/30 ESHEET"},"description" :"Darren Rovell discusses the NBA approving
        Steve Ballmer''s $2 billion bid to buy the Los Angeles Clippers, pending approval
        from the league''s owners.","links" :{"web" :{"href" :"http://espn.go.com/video/clip?id=11009138&ex_cid=espnapi_public"}}}]},{"headline"
        :"Donald Sterling files $1B lawsuit","keywords" :["Donald Sterling","Shelly
        Sterling","St[...]
- request:
    method: get
    uri: http://api.espn.com/v1/sports/basketball/nba/teams/18/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-01.mashery.com
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-01T17:40:00Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :446,"headlines" :[{"headline" :"Phil talks Melo, search
        for coach","keywords" :["phil jackson","coaching search","opt out","clause"],"lastModified"
        :"2014-05-31T23:53:22Z","premium" :false,"mobileStory" :"","links" :{"api"
        :{"news" :{"href" :"http://api.espn.com/v1/sports/news/11006509"}},"web" :{"href"
        :"http://espn.go.com/new-york/nba/story/_/id/11006509/phil-jackson-new-york-knicks-not-losing-sleep-carmelo-anthony-decision?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nba/story?storyId=11006509&ex_cid=espnapi_public"}},"shortLinkText"
        :"Jackson concerned about Melo leaving Knicks ","type" :"HeadlineNews","related"
        :[],"id" :11006509,"story" :"","title" :"Phil Jackson of New York Knicks ''not
        losing sleep'' over Carmelo Anthony''s decision","linkText" :"Jackson ''not
        losing sleep'' over Melo decision","byline" :"Ian Begley","source" :"ESPNNewYork.com","description"
        :"Knicks president Phil Jackson said he''s \"not losing sleep\" over Carmelo
        Anthony''s pending free agency. But Jackson admitted on Friday that he''s
        \"definitely concerned\" about the idea that Anthony could sign with another
        team this summer.","images" :[{"height" :200,"alt" :"Phil Jackson","width"
        :300,"name" :"Jackson_Phil 140403 [300x200] - Copy","caption" :"Phil Jackson
        says veteran Okla[...]
