---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/football/nfl/teams/24/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-24T02:15:17Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :386,"headlines" :[{"headline" :"Dwight Freeney says he''s
        100 percent","keywords" :["SD"],"lastModified" :"2014-06-18T15:32:27Z","premium"
        :false,"mobileStory" :"","links" :{"api" :{"news" :{"href" :"http://api.espn.com/v1/sports/news/11101844"}},"web"
        :{"href" :"http://espn.go.com/nfl/story/_/id/11101844/dwight-freeney-san-diego-chargers-prove-it?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nfl/story?storyId=11101844&ex_cid=espnapi_public"}},"type"
        :"HeadlineNews","related" :[],"id" :11101844,"story" :"","title" :"Dwight
        Freeney of San Diego Chargers out to prove he still has it","linkText" :"Chargers''
        Freeney out to prove he still has it","byline" :"Eric D. Williams","source"
        :"ESPN.com","description" :"Entering his 13th season, Dwight Freeney''s focus
        is on getting to training camp healthy. The San Diego Chargers edge rusher
        also is out to prove he can still be effective. ","images" :[{"height" :300,"alt"
        :"Dwight Freeney","width" :300,"name" :"Freeney_Dwight 130930 [300x300]","caption"
        :"Dwight Freeney''s 2013 season was cut short thanks to a quad tendon tear
        he suffered in Week 4.","type" :"inline","credit" :"Jeff Gross/Getty Images","url"
        :"http://a.espncdn.com/photo/2013/0930/nfl_g_freeney_kh_300x300.jpg"}],"categories"
        :[{"description" :"Dwight Freeney","type" :"athlete","sportId" :28,"athleteId"
        :3539,"athlete" :{"id" :3539,"description" :"Dwight Freeney","links" :{"api"
        :{"athletes" :{"href" :"http://api.espn.com/v1/sports/football/nfl/athletes/3539"}},"web"
        :{"athletes" :{"href" :"http://espn.go.com/nfl/player/_/id/3539/dwight-freeney?ex_cid=espnapi_public"}},"mobile"
        :{"athletes" :{"href" :"http://m.espn.go.com/nfl/playercard?playerId=3539&ex_cid=espnapi_public"}}}}},{"description"
        :"San Diego Chargers","type" :"team","sportId" :28,"teamId" :24,"team" :{"id"
        :24,"description" :"San Diego Chargers","links" :{"api" :{"teams" :{"href"
        :"http://api.espn.com/v1/sports/football/nfl/teams/24"}},"web" :{"teams" :{"href"
        :"http://espn.go.com/nfl/team/_/name/sd/san-diego-chargers?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/nfl/clubhouse?teamId=24&ex_cid=espnapi_public"}}}},"uid"
        :"s:20~l:28~t:24"},{"description" :"NFL","type" :"league","sportId" :28,"leagueId"
        :28,"league" :{"id" :28,"description" :"NFL","links" :{"api" :{"leagues" :{"href"
        :"http://api.espn.com/v1/sports/football/nfl"}},"web" :{"leagues" :{"href"
        :"http://espn.go.com/nfl/?ex_cid=espnapi_public"}},"mobile" :{"leagues" :{"href"
        :"http://m.espn.go.com/nfl/?ex_cid=espnapi_public"}}}},"uid" :"s:20~l:28"}],"published"
        :"2014-06-18T13:28:09Z","video" :[]},{"headline" :"Manti Te''o back at Chargers
        practice","keywords" :["surgery","foot","practice","organized team activities","OTAs","return"],"lastModified"
        :"2014-06-10T01:58:25Z","premium" :false,"mobileStory" :"","links" :{"api"
        :{"news" :{"href" :"http://api.espn.com/v1/sports/news/11058288"}},"web" :{"href"
        :"http://espn.go.com/nfl/story/_/id/11058288/manti-teo-san-diego-chargers-participates-1st-full-practice-surgery?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nfl/story?storyId=11058288&ex_cid=espnapi_public"}},"shortLinkText"
        :"Te''o in 1st Chargers practice since surgery ","type" :"HeadlineNews","related"
        :[],"id" :11058288,"story" :"","title" :"Manti Te''o of San Diego Chargers
        participates in 1st full practice since surgery","linkText" :"Te''o in 1st
        full Chargers practice since surgery","byline" :"Eric D. Williams","source"
        :"ESPN.com","description" :"For the first time since undergoing offseason
        surgery to repair a broken foot, San Diego Chargers middle linebacker Manti
   [...]
- request:
    method: get
    uri: http://api.espn.com/v1/sports/baseball/mlb/teams/18/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-24T02:15:18Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :379,"headlines" :[{"headline" :"Escobar has 2 RBIs; Rays
        top Astros 5-2","keywords" :[],"lastModified" :"2014-06-23T03:11:26Z","premium"
        :false,"gameId" :"340622130","mobileStory" :"","links" :{"api" :{"news" :{"href"
        :"http://api.espn.com/v1/sports/news/11120152"},"events" :{"href" :"http://api.espn.com/v1/sports/baseball/mlb/events/340622130"}},"web"
        :{"href" :"http://scores.espn.go.com/mlb/recap?gameId=340622130&ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://scores.espn.go.com/mlb/gamecast?gameId=340622130&version=mobile&ex_cid=espnapi_public"}},"shortLinkText"
        :"Escobar has 2 RBIs; Rays top Astros 5-2 ","type" :"Recap","related" :[],"id"
        :11120152,"story" :"","linkText" :"Escobar has 2 RBIs; Rays top Astros 5-2","source"
     [...]
[...]
