---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/football/nfl/teams/12/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-52.mashery.com
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-01T18:51:00Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :385,"headlines" :[{"headline" :"Alex Smith holds all the
        cards","keywords" :["Contract negotiations","leverage","Andy Reid","Jim Harbaugh","Pro
        Bowl"],"lastModified" :"2014-05-24T20:48:36Z","premium" :false,"mobileStory"
        :"","links" :{"api" :{"news" :{"href" :"http://api.espn.com/v1/sports/news/10976039"}},"web"
        :{"href" :"http://espn.go.com/nfl/story/_/id/10976039/alex-smith-holds-upper-hand-contract-talks-kc-chiefs?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nfl/story?storyId=10976039&ex_cid=espnapi_public"}},"type"
        :"Columnist","related" :[{"id" :10976102,"title" :"Have the Chiefs really
        improved?","links" :{"api" :{"news" :{"href" :"http://api.espn.com/v1/sports/news/10976102"}},"web"
        :{"href" :"http://espn.go.com/blog/kansas-city-chiefs/post/_/id/5880/have-the-chiefs-really-improved?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nfl/story?storyId=10976102&ex_cid=espnapi_public"}}},{"id"
        :10963554,"title" :"New England Patriots, Denver Broncos top early projected
        AFC standings - NFL","links" :{"api" :{"news" :{"href" :"http://api.espn.com/v1/sports/news/10963554"}},"web"
        :{"href" :"http://insider.espn.go.com/nfl/story/_/id/10963554/new-england-patriots-denver-broncos-top-early-projected-afc-standings-nfl?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nfl/story?storyId=10963554&ex_cid=espnapi_public"}}}],"id"
        :10976039,"story" :"","title" :"Alex Smith holds the upper hand in contract
        talks with K.C. Chiefs","linkText" :"Chadiha: Alex Smith holds leverage over
        K.C.","byline" :"Jeffri Chadiha","source" :"ESPN.com","description" :"By doing
        little to improve the talent on the roster, K.C. has increased QB Alex Smith''s
        leverage in contract negotiations, writes Jeffri Chadiha.","images" :[{"height"
        :300,"alt" :"Alex Smith","width" :200,"name" :"Smith_Alex 140523 [200x300]","caption"
        :"Alex Smith''s first year in K.C. produced an 11-win season and his first
        Pro Bowl appearance. ","type" :"inline","credit" :"Kyle Terada/USA TODAY Sports","url"
        :"http://a.espncdn.com/photo/2014/0523/nfl_u_smith01jr_200x300.jpg"},{"height"
        :324,"alt" :"","width" :576,"name" :"NFL Nation Buzz: Chiefs","caption" :"ESPN.com
        Chiefs reporter Adam Teicher talks about rookie quarterback Aaron Murray.","type"
        :"video","url" :"http://a.espncdn.com/media/motion/2014/0520/dm_140520_nfl_chiefs_buzz/dm_140520_nfl_chiefs_buzz.jpg"}],"categories"
        :[{"description" :"NFL","type" :"league","sportId" :28,"leagueId" :28,"league"
        :{"id" :28,"description" :"NFL","links" :{"api" :{"leagues" :{"href" :"http://api.espn.com/v1/sports/football/nfl"}},"web"
        :{"leagues" :{"href" :"http://espn.go.com/nfl/?ex_cid=espnapi_public"}},"mobile"
        :{"leagues" :{"href" :"http://m.espn.go.com/nfl/?ex_cid=espnapi_public"}}}},"uid"
        :"s:20~l:28"},{"description" :"Alex Smith","type" :"athlete","sportId" :28,"athleteId"
        :8416,"athlete" :{"id" :8416,"description" :"Alex Smith","links" :{"api" :{"athletes"
        :{"href" :"http://api.espn.com/v1/sports/football/nfl/athletes/8416"}},"web"
        :{"athletes" :{"href" :"http://espn.go.com/nfl/player/_/id/8416/alex-smith?ex_cid=espnapi_public"}},"mobile"
        :{"athletes" :{"href" :"http://m.espn.go.com/nfl/playercard?playerId=8416&ex_cid=espnapi_public"}}}}},{"description"
        :"Kansas City Chiefs","type" :"team","sportId" :28,"teamId" :12,"team" :{"id"
        :12,"description" :"Kansas City Chiefs","links" :{"api" :{"teams" :{"href"
        :"http://api.espn.com/v1/sports/football/nfl/teams/12"}},"web" :{"teams" :{"href"
        :"http://espn.go.com/nfl/team/_/name/kc/kansas-city-chiefs?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/nfl/clubhouse?teamId=12&ex_cid=espnapi_public"}}}},"uid"
        :"s:20~l:28~t:12"},{"description" :"Dwayne Bowe","type" :"athlete","sportId"
        :28,"athleteId" :10467,"athlete" :{"id" :10467,"description" :"Dwayne Bowe","links"
        :{"api" :{"athletes" :{"href" :"http://api.espn.com/v1/sports/football/nfl/athletes/10467"}},"web"
        :{"athletes" :{"href" :"http://espn.go.com/nfl/player/_/id/10467/dwayne-bowe?ex_cid=espnapi_public"}},"mobile"
        :{"athletes" :{"href" :"http://m.espn.go.com/nfl/playercard?playerId=10467&ex_cid=espnapi_public"}}}}},{"description"
        :"Aaron Murray","type" :"athlete","sportId" :28,"athleteId" :17021,"athlete"
        :{"id" :17021,"description" :"Aaron Murray","links" :{"api" :{"athletes" :{"href"
        :"http://api.espn.com/v1/sports/football/nfl/athletes/17021"}},"web" :{"athletes"
        :{"href" :"http://espn.go.com/nfl/player/_/id/17021/aaron-murray?ex_cid=espnapi_public"}},"mobile"
        :{"athletes" :{"href" :"http://m.espn.go.com/nfl/playercard?playerId=17021&ex_cid=espnapi_public"}}}}}],"published"
        :"2014-05-24T16:46:00Z","video" :[{"id" :10942514,"title" :"NFL Nation Buzz:
        Chiefs","thumbnail" :"http://a.espncdn.com/media/motion/2014/0520/dm_140520_nfl_chiefs_buzz/dm_140520_nfl_chiefs_buzz.jpg","tracking"
        :{"sportName" :"nfl","leagueName" :"No League","coverageType" :"Feature","trackingName"
        :"COM_NFL Feature (NFL Nation Buzz: Chiefs) 2014/05/21"},"description" :"ESPN.com
        Chiefs reporter Adam Teicher talks about rookie quarterback Aaron Murray.","links"
        :{"web" :{"href" :"http://espn.go.com/video/clip?id=10942514&ex_cid=espnapi_public"}}}]},{"headline"
        :"Best and worst draft marriages    ","keywords" :["NFL Draft 2014"],"lastModified"
        :"2014-05-12T15:57:55Z","premium" :false,"mobileStory" :"","links" :{"api"
        :{"news" :{"href" :"http://api.espn.[...]
[...]
