<% if @all_news != [] %>
  <% @all_news.each do |article| %>
    <article>
      <ul>
        <li><%= article[:headline] %></li>
        <div class="article_time">
          <li><%= time_ago_in_words(article[:last_modified]) %> ago</li>
        </div>
      </ul>
      <%= link_to "Read on ESPN", article[:url], :target => "_blank" %>
    </article>
  <% end %>
<% else %>
  <p>Please click <%= link_to "Add Teams", "/teams/new" %> to get started.</p>
<% end %>
