---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/basketball/nba/teams/12/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-01T03:09:04Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :451,"headlines" :[{"headline" :"Clips sale pending board
        approval","keywords" :["donald sterling","nba","adam silver","steve ballmer","clips","shelly
        sterling"],"lastModified" :"2014-05-31T06:33:42Z","premium" :false,"mobileStory"
        :"","links" :{"api" :{"news" :{"href" :"http://api.espn.com/v1/sports/news/11008952"}},"web"
        :{"href" :"http://espn.go.com/los-angeles/nba/story/_/id/11008952/nba-approves-steve-ballmer-bid-buy-los-angeles-clippers?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nba/story?storyId=11008952&ex_cid=espnapi_public"}},"shortLinkText"
        :"NBA approves Ballmer''s bid to buy Clippers ","type" :"HeadlineNews","related"
        :[],"id" :11008952,"story" :"","title" :"NBA approves Steve Ballmer''s bid
        to buy Los Angeles Clippers","linkText" :"NBA approves Ballmer''s bid to buy
        Clippers","source" :"ESPN.com news services","description" :"The NBA has approved
        former Microsoft CEO Steve Ballmer''s bid to buy the Los Angeles Clippers,
        according to a statement issued Friday evening by the league. ","images" :[{"height"
        :324,"alt" :"","width" :576,"name" :"NBA Approves Clippers Sale, Pending Approval","caption"
        :"Darren Rovell discusses the NBA approving Steve Ballmer''s $2 billion bid
        to buy the Los Angeles Clippers, pending approval from the league''s owners.","type"
        :"video","url" :"http://a.espncdn.com/media/motion/2014/0530/dm_140530_nba_rovell_clippers_wil_besold/dm_140530_nba_rovell_clippers_wil_besold.jpg"},{"height"
        :324,"alt" :"Steve Ballmer","width" :576,"name" :"Ballmer_Steve 140529 [576x324]","type"
        :"inline","credit" :"Noel Vasquez/Getty Images","url" :"http://a.espncdn.com/photo/2014/0529/nba_g_bellm11_cr_576x324.jpg"}],"categories"
        :[{"description" :"NBA","type" :"league","sportId" :46,"leagueId" :46,"league"
        :{"id" :46,"description" :"NBA","links" :{"api" :{"leagues" :{"href" :"http://api.espn.com/v1/sports/basketball/nba"}},"web"
        :{"leagues" :{"href" :"http://espn.go.com/nba/?ex_cid=espnapi_public"}},"mobile"
        :{"leagues" :{"href" :"http://m.espn.go.com/nba/?ex_cid=espnapi_public"}}}},"uid"
        :"s:40~l:46"},{"description" :"Los Angeles Clippers","type" :"team","sportId"
        :46,"teamId" :12,"team" :{"id" :12,"description" :"Los Angeles Clippers","links"
        :{"api" :{"teams" :{"href" :"http://api.espn.com/v1/sports/basketball/nba/teams/12"}},"web"
        :{"teams" :{"href" :"http://espn.go.com/nba/team/_/name/lac/los-angeles-clippers?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/nba/clubhouse?teamId=12&ex_cid=espnapi_public"}}}},"uid"
        :"s:40~l:46~t:12"}],"published" :"2014-05-30T22:56:58Z","video" :[{"id" :11009138,"title"
        :"NBA Approves Clippers Sale, Pending Approval","thumbnail" :"http://a.espncdn.com/media/motion/2014/0530/dm_140530_nba_rovell_clippers_wil_besold/dm_140530_nba_rovell_clippers_wil_besold.jpg","tracking"
        :{"sportName" :"nba","leagueName" :"No League","coverageType" :"News","trackingName"
        :"!!UNPUB 6/2!!COM_NBA News (NBA Approves Clippers Sale, Pending Approval)
        2014/05/30 ESHEET"},"description" :"Darren Rovell discusses the NBA approving
        Steve Ballmer''s $2 billion bid to buy the Los Angeles Clippers, pending approval
        from the league''s owners.","links" :{"web" :{"href" :"http://espn.go.com/video/clip?id=11009138&ex_cid=espnapi_public"}}}]},{"headline"
        :"Donald Sterling files $1B lawsuit","keywords" :["Donald Sterling","Shelly
        Sterling","St[...]
