---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/baseball/mlb/teams/12/news?apikey=<ESPN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp" :"2014-06-01T01:26:44Z","resultsOffset" :0,"status" :"success","resultsLimit"
        :10,"resultsCount" :379,"headlines" :[{"headline" :"Martinez, Cabrera lead
        Detroit past Seattle 6-3","keywords" :[],"lastModified" :"2014-05-31T06:37:08Z","premium"
        :false,"gameId" :"340530112","mobileStory" :"","links" :{"api" :{"news" :{"href"
        :"http://api.espn.com/v1/sports/news/11011138"},"events" :{"href" :"http://api.espn.com/v1/sports/baseball/mlb/events/340530112"}},"web"
        :{"href" :"http://scores.espn.go.com/mlb/recap?gameId=340530112&ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://scores.espn.go.com/mlb/gamecast?gameId=340530112&version=mobile&ex_cid=espnapi_public"}},"type"
        :"Recap","related" :[],"id" :11011138,"story" :"","linkText" :"Martinez, Cabrera
        lead Detroit past Seattle 6-3","source" :"Associated Press","description"
        :"Martinez, Cabrera lead Detroit past Seattle 6-3","images" :[{"height" :324,"alt"
        :"","width" :576,"name" :"Tigers Double Up Mariners","caption" :"Miguel Cabrera
        and Victor Martinez both homered in the Tigers'' 6-3 win over the Mariners.","type"
        :"video","url" :"http://a.espncdn.com/media/motion/2014/0531/dm_140531_mlb_tigers_mariners/dm_140531_mlb_tigers_mariners.jpg"}],"categories"
        :[{"description" :"Seattle Mariners","type" :"team","sportId" :10,"teamId"
        :12,"team" :{"id" :12,"description" :"Seattle Mariners","links" :{"api" :{"teams"
        :{"href" :"http://api.espn.com/v1/sports/baseball/mlb/teams/12"}},"web" :{"teams"
        :{"href" :"http://espn.go.com/mlb/team/_/name/sea/seattle-mariners?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/mlb/clubhouse?teamId=12&ex_cid=espnapi_public"}}}},"uid"
        :"s:1~l:10~t:12"},{"description" :"Detroit Tigers","type" :"team","sportId"
        :10,"teamId" :6,"team" :{"id" :6,"description" :"Detroit Tigers","links" :{"api"
        :{"teams" :{"href" :"http://api.espn.com/v1/sports/baseball/mlb/teams/6"}},"web"
        :{"teams" :{"href" :"http://espn.go.com/mlb/team/_/name/det/detroit-tigers?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/mlb/clubhouse?teamId=6&ex_cid=espnapi_public"}}}},"uid"
        :"s:1~l:10~t:6"},{"description" :"MLB","type" :"league","sportId" :10,"leagueId"
        :10,"league" :{"id" :10,"description" :"MLB","links" :{"api" :{"leagues" :{"href"
        :"http://api.espn.com/v1/sports/baseball/mlb"}},"web" :{"leagues" :{"href"
        :"http://espn.go.com/mlb/?ex_cid=espnapi_public"}},"mobile" :{"leagues" :{"href"
        :"http://m.espn.go.com/mlb/?ex_cid=espnapi_public"}}}},"uid" :"s:1~l:10"}],"published"
        :"2014-05-31T05:20:09Z","video" :[{"id" :11011169,"title" :"Tigers Double
        Up Mariners","thumbnail" :"http://a.espncdn.com/media/motion/2014/0531/dm_140531_mlb_tigers_mariners/dm_140531_mlb_tigers_mariners.jpg","tracking"
        :{"sportName" :"mlb","leagueName" :"No League","coverageType" :"Highlight","trackingName"
        :"COM_MLB Highlight (Tigers/Mariners) 2014/05/30 ESHEET"},"description" :"Miguel
        Cabrera and Victor Martinez both homered in the Tigers'' 6-3 win over the
        Mariners.","links" :{"web" :{"href" :"http://espn.go.com/video/clip?id=11011169&ex_cid=espnapi_public"}}},{"id"
        :11011169,"title" :"Tigers Double Up Mariners","thumbnail" :"http://a.espncdn.com/media/motion/2014/0531/dm_140531_mlb_tigers_mariners/dm_140531_mlb_tigers_mariners.jpg","tracking"
        :{"sportName" :"mlb",[...]
