/* variables */

$main_orange: #FF9A53;
$main_blue: #CDECFF;

/* universal */

body {
  background-color: $main_blue;
}

/* header and navbar */

header {
  background-color: $main_orange;
  overflow: hidden;
}

nav {
  width: 100%;
  float: right;
  padding: 1em 0;
  text-align: center;
  color: white;
  font-weight: bold;
  ul {
    list-style: none;
    margin-left: 12.6em;
  }
  a {
    color: white;
    text-decoration: none;
  }
  li {
    display: inline-block;
    float: right;
  }
  #site_name {
    float: left;
    font-size: 2em;
  }
  #right_side_nav {
    overflow: hidden;
    li {
      margin: .3em .5em 0 0;
      padding: .25em;
      border: 1px solid white;
      &:first-child {
        margin-right: 12.6em;
      }
      &:nth-child(3):hover {
        border: 1px solid white;
        cursor: default;
      }
      &:hover {
        border: 1px solid $main_blue;
        cursor: pointer;
      }
      a:hover {
        color: $main_blue;
        cursor: pointer;
      }
    }
  }
}

/* articles */

main {
  padding: 1.25em 10em 3em;
  font-size: 1.25em;
}

.article_time {
  float: right;
  li {
    text-align: left;
    color: $main_orange;
  }
}

article {
  background-color: white;
  padding: 1em;
  margin-bottom: 1.25em;
  ul {
    margin-bottom: .5em;
  }
  li {
    display: inline-block;
  }
  a {
    color: $main_orange;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#add_teams_text {
  background-color: $main_orange;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  a {
    color: white;
    &:hover {
      color: $main_blue;
      cursor: pointer;
    }
  }
}

/* forms */

.team_form_container {
  background-color: $main_orange;
  padding: 1em;
  border-radius: 5px;
  overflow: hidden;
}

.team_form {
  h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: .25em 0;
    clear: both;
    border: 1px solid white;
    padding: .25em;
    &:hover {
      border: 1px solid $main_blue;
      color: $main_blue;
      cursor: pointer;
    }
  }
  h4 {
    color: white;
    font-size: 1.25em;
    margin: .5em 0 .75em;
  }
  label {
    display: inline-block;
  }
  input {
    display: inline-block;
    margin-bottom: .25em;
    width: 1em;
  }
  .submit_button {
    width: 80%;
    clear: both;
    margin: auto;
    input {
      display: block;
      margin: 1em auto;
      width: 8em;
      background-color: white;
      color: $main_orange;
      border: 1px solid white;
      border-radius: 3px;
      &:hover {
        background-color: $main_blue;
        color: white;
        border: 1px solid $main_blue;
        cursor: pointer;
      }
    }
  }
}

.league_one_container {
  float: left;
  width: 45%;
  .league_one_content {
    width: 65%;
    margin: auto;
  }
}

.league_two_container {
  float: right;
  width: 45%;
  .league_two_content {
    width: 65%;
    margin: auto;
  }
}

#baseball_container,
#basketball_container,
#football_container {
  overflow: hidden;
  margin-bottom: 1em;
}

.form_container {
  background-color: $main_orange;
  padding: 1em;
  border-radius: 5px;
  h1 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: .5em;
  }
  p {
    text-align: center;
    color: white;
    margin-bottom: .5em;
  }
}

form {
  label {
    display: block;
    color: white;
  }
  input {
    display: block;
    width: 25em;
    height: 2.25em;
    margin-bottom: 1em;
    &:last-child {
      width: 6em;
      background-color: white;
      color: $main_orange;
      border: 1px solid white;
      border-radius: 3px;
      &:hover {
        background-color: $main_blue;
        color: white;
        border: 1px solid $main_blue;
        cursor: pointer;
      }
    }
  }
}