/* header and navbar */

header {
  background-color: #FF9A53;
  overflow: hidden;
}

nav {
  padding: 1em;
  text-align: center;
  font-size: 2em;
  color: white;
  font-weight: bold;
  ul {
    list-style: none;
  }
}